<section id="home-page">
  <section id="main-pic">
    <img src="west-coast.jpg">
  </section>

  <section id="description">
  	<p id="hp-name"><a class="scroll" href="#home-page">Leah Goldberg</a></p>
    <p id="subtitle">Full Stack Web Developer</p>
    <ul id="hp-links">
    	<li><a class="scroll" href="#projects">Projects</a></li>
    	<li><a class="scroll" href="#about">About</a></li>
    </ul>	
    <ul class="social-icons">
      <li><a href="https://github.com/leahgoldberg"><img src="github.png"/></a></li>
      <li><a href="https://www.linkedin.com/pub/leah-goldberg/18/541/714"><img src="linkedin.png"/></a></li>
      <li><a href="https://twitter.com/toomanyleahs"><img src="twitter.png"/></a></li>
    </ul> 
  </section>

</section> 

<div id="projects">
  <%= erb :projects %>
</div>

<div id="about">
  <%= erb :about %>
</div>    

